@keyframes loadingAnimation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  border: 3px solid #d73948;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: loadingAnimation 1s linear 0s infinite;
  margin: 5px;
}
